/* CHANGELISTS */

#changelist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#changelist .changelist-form-container {
    /* flex: 1 1 auto;
    min-width: 0; */
    position: absolute;
    right: 0;
    width : calc(100% - 240px);
    flex: 1 1 auto;
    min-width: 0;
    margin: 0;

}

#changelist table {
    width: 100%;
}

.change-list .hiddenfields { display:none; }

.change-list .filtered table {
    border-right: none;
}

.change-list .filtered {
    min-height: 400px;
}

.change-list .filtered .results, .change-list .filtered .paginator,
.filtered #toolbar, .filtered div.xfull {
    width: auto;
}

.change-list .filtered table tbody th {
    padding-right: 1em;
}

#changelist-form .results {
    overflow-x: auto;
    width: 100%;
}

#changelist .toplinks {
    border-bottom: 1px solid var(--hairline-color);
}

#changelist .paginator {
    color: var(--body-quiet-color);
    border-bottom: 1px solid var(--hairline-color);
    background: var(--body-bg);
    overflow: hidden;
}

/* CHANGELIST TABLES */

#changelist table thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
}

#changelist table thead th.action-checkbox-column {
    width: 1.5em;
    text-align: center;
}

#changelist table tbody td.action-checkbox {
    text-align: center;
}

#changelist table tfoot {
    color: var(--body-quiet-color);
}


/* TOOLBAR */

#toolbar {
    padding: 8px 10px;
    margin-bottom: 15px;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
    background: var(--darkened-bg);
    color: var(--body-quiet-color);
}

#toolbar form input {
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 5px;
    color: var(--body-fg);
}

#toolbar #searchbar {
    height: 1.1875rem;
    border: 1px solid var(--border-color);
    padding: 2px 5px;
    margin: 0;
    vertical-align: top;
    font-size: 0.8125rem;
    max-width: 100%;
}

#toolbar #searchbar:focus {
    border-color: var(--body-quiet-color);
}

#toolbar form input[type="submit"] {
    border: 1px solid var(--border-color);
    font-size: 0.8125rem;
    padding: 4px 8px;
    margin: 0;
    vertical-align: middle;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    color: var(--body-fg);
}

#toolbar form input[type="submit"]:focus,
#toolbar form input[type="submit"]:hover {
    border-color: var(--body-quiet-color);
}

#changelist-search img {
    vertical-align: middle;
    margin-right: 4px;
}

#changelist-search .help {
    word-break: break-word;
}

/* FILTER COLUMN */
/* Styles pour l'icône de fermeture de la sidebar */
#changelist-filter .sidebar-close-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -40px; /* ajustez la valeur en fonction de vos besoins */
    cursor: pointer;
  }
  
  #changelist-filter .sidebar-close-icon .icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #ab2222;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  #changelist-filter .sidebar-close-icon.closed .icon-bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  #changelist-filter .sidebar-close-icon.closed .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #changelist-filter .sidebar-close-icon.closed .icon-bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  



#changelist-filter {
    /* flex: 0 0 240px;
    order: 1;
    background: var(--darkened-bg);
    border-left: none;
    margin: 0 0 0 30px; */
    width: 240px;
    position: fixed;
    top: 7%;
    left: 0;
    background: #19212b;
    border-left: 0;
    margin: 0;
    padding: 0; 
    overflow-y: auto; 
    height: 100vh;
}
#changelist-filter::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
    background-color: #19212b; /* Couleur de fond de la barre de défilement */
}

#changelist-filter::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Couleur de la poignée de défilement */
    border-radius: 5px; /* Bordure arrondie de la poignée de défilement */
}


#changelist-filter h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none; 
}



#changelist-filter h3,
#changelist-filter details summary {
    /* font-weight: 400;
    padding: 0 15px;
    margin-bottom: 10px; */
    font-weight: 400;
    padding: 0 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ffa000; /* Ajoute une bordure rouge en dessous de chaque titre de filtre */
    padding-bottom: 5px; /* Ajoute un espace entre la bordure et le contenu suivant */
    margin-bottom: 10px; /* Ajoute un espace entre chaque titre de filtre */
    background-color: #2e4051;

}

#changelist-filter details summary > * {
    display: inline;
}

#changelist-filter details > summary {
    color: #f1f1f1;
    list-style-type: none;
}

#changelist-filter details > summary::-webkit-details-marker {
    display: none;
}

#changelist-filter details > summary::before {
    content: '→';
    font-weight: bold;
    /* color: var(--link-hover-color); */
    color: #ffa000;
}

#changelist-filter details[open] > summary::before {
    content: '↓';
}

#changelist-filter ul {
    margin: 5px 0;
    padding: 0 15px 15px;
    border-bottom: 1px solid var(--hairline-color);
}

#changelist-filter ul:last-child {
    border-bottom: none;
}

#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#changelist-filter a {
    display: block;
    /* color: var(--body-quiet-color); */
    color: #a0a8b1;
    word-break: break-word;
}

#changelist-filter li.selected {
    /* border-left: 5px solid var(--hairline-color); */
    border-left: 5px solid #ffa000;
    padding-left: 10px;
    margin-left: -15px;
}

#changelist-filter li.selected a {
    /* color: var(--link-selected-fg); */
    color: #ffa000;
}

#changelist-filter a:focus, #changelist-filter a:hover,
#changelist-filter li.selected a:focus,
#changelist-filter li.selected a:hover {
    /* color: var(--link-hover-color); */
    color: #ffcf82;
}

#changelist-filter #changelist-filter-clear a {
    font-size: 0.8125rem;
    padding-bottom: 10px;
    /* border-bottom: 1px solid var(--hairline-color); */
    border-bottom: 1px solid #ffa000;
}

/* DATE DRILLDOWN */

.change-list .toplinks {
    display: flex;
    padding-bottom: 5px;
    flex-wrap: wrap;
    gap: 3px 17px;
    font-weight: bold;
}

.change-list .toplinks a {
    font-size: 0.8125rem;
}

.change-list .toplinks .date-back {
    color: var(--body-quiet-color);
}

.change-list .toplinks .date-back:focus,
.change-list .toplinks .date-back:hover {
    color: var(--link-hover-color);
}

/* ACTIONS */

.filtered .actions {
    border-right: none;
}

#changelist table input {
    margin: 0;
    vertical-align: baseline;
}

/* Once the :has() pseudo-class is supported by all browsers, the tr.selected
   selector and the JS adding the class can be removed. */
#changelist table tbody tr.selected {
    background-color: var(--selected-row);
}

#changelist table tbody tr:has(input[type=checkbox]:checked) {
    background-color: var(--selected-row);
}

@media (forced-colors: active) {
    #changelist tbody tr.selected {
        background-color: SelectedItem;
    }
    #changelist tbody tr:has(.action-select:checked) {
        background-color: SelectedItem;
    }
}


#changelist .actions {
    padding: 10px;
    background: var(--body-bg);
    border-top: none;
    border-bottom: none;
    line-height: 1.5rem;
    color: var(--body-quiet-color);
    width: 100%;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
    font-size: 0.8125rem;
    margin: 0 0.5em;
}

#changelist .actions:last-child {
    border-bottom: none;
}

#changelist .actions select {
    vertical-align: top;
    height: 1.5rem;
    color: var(--body-fg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.875rem;
    padding: 0 0 0 4px;
    margin: 0;
    margin-left: 10px;
}

#changelist .actions select:focus {
    border-color: var(--body-quiet-color);
}

#changelist .actions label {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8125rem;
}

#changelist .actions .button {
    font-size: 0.8125rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--body-bg);
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    height: 1.5rem;
    line-height: 1;
    padding: 4px 8px;
    margin: 0;
    color: var(--body-fg);
}

#changelist .actions .button:focus, #changelist .actions .button:hover {
    border-color: var(--body-quiet-color);
}
