.rymed-header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left:15px;
    padding-right: 15px;
    z-index: 1006;
    contain: layout;
    pointer-events: none;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
@media screen and (max-width: 767px) {
  .rymed-header {
      padding-left:8px;
      padding-right: 8px;
  }
}
.top-logo-row-wrapper-wrapper {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--border-color-2, transparent);
    pointer-events: all;
}
.top-logo-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    height: var(--upper-tabs-height);
    background-color: var(--background-1);
}
@media screen and (max-width: 767px){
  .rymed-header .top-logo-row {
      gap: 8px;
  }
}
.site-logo-wrapper {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 36px;
    margin: 6px 0;
}
@media screen and (max-width: 767px){
    .site-logo-wrapper {
      flex: 0 1 auto;
    }
}
.site-logo-link {
    align-items: center;
    display: flex;
    opacity: 1;
    transition: opacity .2s;
    img {height: 32px}
}


.top-logo-row-middle {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}
.upper-tabs-wrapper {
    flex: 1 1 0;
    position: relative;
    z-index: 8;
    margin-left: 40px;
    margin-right: 40px
}
@media screen and (max-width: 767px){
  .upper-tabs-wrapper {
    margin: 0
  }
}




.header-link {
    display: none;
}
@media screen and (min-width: 768px){
  .header-link {
      display: block;
      font-weight: 500;
  }
}

.header-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: content-box;
  min-width: 0;
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 50%;
  transition: background .2s, color .2s;
}

#devsite-hamburger-menu:before {
    content: "menu";
}
devsite-book-nav #devsite-close-nav:before {
    content: "arrow_back";
}
devsite-book-nav[top-level-nav] #devsite-close-nav:before {
    content: "close";
}
.header-icon-button:hover,
.header-icon-button:focus
#devsite-hamburger-menu:focus:before,
#devsite-hamburger-menu:hover:before,
devsite-book-nav #devsite-close-nav:focus:before,
devsite-book-nav #devsite-close-nav:hover:before {
    background: var(--background-3);
}

@media screen and (min-width: 768px){
  #devsite-hamburger-menu {
      display: none;
  }
}
