.rymed-tabs {
    display: flex;
    flex: 1;
    height: var(--upper-tabs-height);
    max-width: calc(100% - 208px);
    position: relative;
    max-width: none;
}
.rymed-tabs .tabs-wrapper {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.rymed-tabs .tab {
    display: flex;
    flex-shrink: 0;
    position: relative;
}
.rymed-tabs .tab > .devsite-tabs-content,
.rymed-tabs .tab>a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 var(--tab-padding-x);
    transition: color 0.2s;
    white-space: nowrap;
    font-weight: 500
}
.rymed-tabs .tab>.devsite-tabs-content,
.rymed-tabs .tab>.devsite-tabs-content:focus,
.rymed-tabs .tab>.devsite-tabs-content:hover,
.rymed-tabs .tab>a,devsite-tabs .tab>a:focus,
.rymed-tabs .tab>a:hover {
    text-decoration: none
}

.rymed-tabs.upper-tabs > .tabs-wrapper > .tab > a:focus,
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab > a:hover {
    color: var(--upper-tab-active, var(--primary-text-color));
}
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab > a:focus:after,
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab > a:hover:after {
    border-color: var(--upper-tab-marker-color, var(--secondary-text-color));
}

@media screen and (max-width: 840px) {
    .rymed-tabs.lower-tabs,
    .rymed-tabs.upper-tabs {
        display: none;
    }
}


.rymed-tabs.upper-tabs .tab > a {
    color: var(--upper-tab-inactive, var(--secondary-text-color));
}

@media screen and (-ms-high-contrast: active), screen and (prefers-contrast: high) {
    .rymed-tabs.upper-tabs .tab[active] > a {
        color: inherit;
    }
}
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab[active] > a {
    color: var(--upper-tab-active, var(--primary-text-color));
}
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab[active] > a:hover,
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab[active] > a:focus {
    color: var(--upper-tab-active, var(--secondary-text-color));
}
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab[active] > a:after {
    border-color: var(--upper-tab-marker-color);
}
.rymed-tabs.upper-tabs > .tabs-wrapper > .tab[active] > a:hover:after {
    border-color: var(--upper-tab-marker-color-hover, var(--upper-tab-marker-color));
}
.rymed-tabs .tab > a:focus:after,
.rymed-tabs .tab > a:hover:after,
.rymed-tabs .tab[active] > a:after {
    border-radius: 3px 3px 0 0;
    border-top: 3px solid transparent;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
}

.rymed-tabs .tab[dropdown] a:not(.devsite-tabs-dropdown-toggle):hover:after {
    left: var(--tab-padding-x);
    right: 0
}

.rymed-tabs .tab[dropdown] > a {
    padding-block: 0;
    padding-inline: var(--tab-padding-x) 0;
    position: relative;
    z-index: 2;
}
.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown a {
    font-weight: 500;
}
.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown a,
.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown a:visited {
    color: var(--upper-tab-dropdown-link, var(--primary-text-color));
}
.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown a:focus,
.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown a:hover {
    color: var(--upper-tab-dropdown-link-hover, var(--secondary-text-color));
}

.rymed-tabs.upper-tabs .tab[dropdown] .devsite-tabs-dropdown-content {
    border-radius: var(--tab-dropdown-corner-radius, 0);
}

.rymed-tabs .tab[dropdown] .devsite-tabs-dropdown-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding-block: 0;
    padding-inline: 0 var(--tab-padding-x);
}

.rymed-tabs .tab[dropdown] .devsite-tabs-dropdown-toggle:before,
.rymed-tabs.upper-tabs .devsite-icon-arrow-drop-down:before {
    width: 24px;
    overflow: hidden;
    transform: rotate(0deg);
    transition: background 0.2s, color 0.2s, transform 0.2s;
}

.rymed-tabs .tab[dropdown] .devsite-tabs-dropdown-toggle:focus:before {
    background: var(--background-3);
    border-radius: 50%;
}

.rymed-tabs .tab:hover .devsite-tabs-dropdown-toggle:before {
    transform: rotate(-180deg);
}

.devsite-icon-arrow-drop-down:before {
    content: "arrow_drop_down";
}

.rymed-tabs.upper-tabs .devsite-tabs-overflow-menu .devsite-tabs-dropdown-toggle {
    display: none !important;
}


.rymed-tabs .devsite-tabs-dropdown {
    display: block;
    font-size: 13px;
    left: -6px;
    min-width: calc(100% + 12px);
    outline: 0;
    overflow: hidden;
    padding: 0 6px 6px;
    pointer-events: none;
    position: absolute;
    top: 100%;
    z-index: -1;
}

.rymed-tabs .devsite-tabs-dropdown-content {
    background-color: var(--background-1);
    display: flex;
    box-shadow: 0 1px 2px 0 var(--elevation-key-shadow-color), 0 2px 6px 2px var(--elevation-ambient-shadow-color), inset 0 4px 6px -4px var(--elevation-inset-shadow-color);
    overflow: auto;
    max-height: 600px;
    max-width: 100vw;
    padding: 0 12px;
    pointer-events: none;
    transform: translate3d(0, -150%, 0);
    transition: transform 0s;
    white-space: nowrap;
    transition: transform 0.5s;
}

.rymed-tabs .tab:hover .devsite-tabs-dropdown-content {
    pointer-events: all;
    transform: translateZ(0);
}

.rymed-tabs .devsite-tabs-dropdown-column {
    max-width: none;
    min-width: 220px;
}
.rymed-tabs .devsite-tabs-dropdown-section {
    list-style: none;
    padding: 0 12px;
}
.rymed-tabs .devsite-tabs-dropdown-section:first-child {
    margin: 18px 0 0;
}
.rymed-tabs .devsite-tabs-dropdown-section:not(:first-child) {
    margin-top: 54px;
}
.rymed-tabs .tab[dropdown] .devsite-nav-item {
    line-height: 18px;
    margin: 0 0 18px;
}
